<section class="h-fit w-full translate-y-20 flex flex-col justify-center items-center">
    <div class="w-full max-w-6xl h-fit flex flex-col items-center justify-center p-10 gap-3 border-t-2 text-white" id="comunidades">
        <h1 class="text-Naranja font-semibold text-3xl mb-3">
            Apoyo que proporcionamos
        </h1>
        <p class="text-lg mb-3">
            Brindamos apoyo y asistencia integral a migrantes, ofreciendoles una amplia gama de servicios diseñados para atender sus necesidades. Nuestro equipo está aquí para ofrecer asistencia, acompañamiento y orientación a lo largo de su proceso de migración. Además, trabajamos para garantizar que conozcan y ejerzan sus derechos.
            <br><br>
            Reconociendo la importancia de la salud emocional y física, ofrecemos servicios de tanatología y atención médica de primera necesidad para cuidar de su bienestar en cada paso del camino. Estamos dedicados a proporcionar un apoyo completo para que su experiencia de migración sea lo más segura y exitosa posible.
        </p>
            <video controls autoplay loop class="h-[45vh]"> 
                <source src="/images/video.mp4" type="video/mp4">
            </video>
    </div>
    <div class="w-full max-w-6xl h-fit flex flex-col items-center justify-center p-10 gap-3 border-t-2 text-white" id="educacion">
        <h1 class="text-Naranja font-semibold text-3xl mb-3">
            ¡Voluntarios!
        </h1>
        <p class="text-lg mb-3">
            ¡Únete a nosotros y sé parte del cambio!  Buscamos voluntarios comprometidos que deseen marcar la diferencia en la vida de migrantes que enfrentan desafíos significativos. 
            Los migrantes a menudo abandonan sus hogares en busca de una vida mejor, pero enfrentan obstáculos enormes en su camino.
            <br><br>
            Como voluntario, puedes brindar apoyo vital para darles una mejor y más rapida atención.
            La problemática de los migrantes es compleja: se enfrentan a barreras lingüísticas, discriminación y desafíos legales, además de las dificultades al dejar su país de origen. Juntos, podemos brindarles un entorno de apoyo. 
            <br><br>
            Únete a nuestra causa, sé un voluntario migrante y ayúdanos a construir un mundo mejor y solidario.
        </p>
        <img src="../images/unete.jpg" alt="" class="h-[45vh]">
    </div>
    <div class="w-full max-w-6xl h-fit flex flex-col items-center justify-center p-10 gap-3 border-t-2 text-white" id="promocion">
        <h1 class="text-Naranja font-semibold text-3xl mb-3">
            Nuestras instalaciones
        </h1>
        <p class="text-lg mb-3">
            Las instalaciones buscan hacer que el viaje del migrante sea mas comldo y sehuro, y capaz para recargar las energias antes de seguir con su trayecto.
        </p>
        <div class="lg:h-[35vh] overflow-scroll h-fit w-full flex justify-center lg:justify-between gap-5 items-center flex-col lg:flex-row">
            <div class="h-full lg:w-1/4 w-full bg-red-200 overflow-hidden rounded-xl">
                <img src="../images/comedor.jpg" class="w-auto h-3/4 object-cover" alt="">
                <div class="h-1/4 bg-Azul flex items-center justify-center ">
                    <h1 class="font-semibold text-white">Comedor</h1>
                </div>
            </div>
            <div class="h-full lg:w-1/4 w-full bg-red-200 overflow-hidden rounded-xl">
                <img src="../images/recamaras.jpg" class="w-auto h-3/4 object-cover" alt="">
                <div class="h-1/4 bg-Azul flex items-center justify-center ">
                    <h1 class="font-semibold text-white">Recamaras</h1>
                </div>
            </div>
            <div class="h-full lg:w-1/4 w-full bg-red-200 overflow-hidden rounded-xl">
                <img src="../images/patio.jpg" class="w-auto h-3/4 object-cover" alt="">
                <div class="h-1/4 bg-Azul flex items-center justify-center ">
                    <h1 class="font-semibold text-white">Patio</h1>
                </div>
            </div>
        </div>
        <div class="lg:h-[35vh] overflow-scroll h-fit w-full flex justify-center lg:justify-between gap-5 items-center flex-col lg:flex-row">
            <div class="h-full lg:w-1/4 w-full bg-red-200 overflow-hidden rounded-xl">
                <img src="../images/lavanderia.jpg" class="w-auto h-3/4 object-cover" alt="">
                <div class="h-1/4 bg-Azul flex items-center justify-center ">
                    <h1 class="font-semibold text-white">Lavanderia</h1>
                </div>
            </div>
            <div class="h-full lg:w-1/4 w-full bg-red-200 overflow-hidden rounded-xl">
                <img src="../images/banos.jpg" class="w-auto h-3/4 object-cover" alt="">
                <div class="h-1/4 bg-Azul flex items-center justify-center ">
                    <h1 class="font-semibold text-white">Baños</h1>
                </div>
            </div>
            <div class="h-full lg:w-1/4 w-full bg-red-200 overflow-hidden rounded-xl">
                <img src="../images/medica.jpg" class="w-auto h-3/4 object-cover" alt="">
                <div class="h-1/4 bg-Azul flex items-center justify-center ">
                    <h1 class="font-semibold text-white">Sala Medica</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        let comunidades = document.getElementById("comunidades");
        let educacion = document.getElementById("educacion");
        let promocion = document.getElementById("promocion");
        let pageUrl = window.location.href;
        
        setTimeout(() => {
            if(pageUrl.includes("#/comunidades")){
                comunidades.scrollIntoView({
                    block: 'end',
                    behavior: 'smooth',
                    inline: 'center'
                });
            }else if(pageUrl.includes("#/educacion")){
                educacion.scrollIntoView({
                    block: 'end',
                    behavior: 'smooth',
                    inline: 'center'
                });
            }else if(pageUrl.includes("#/promocion")){
                promocion.scrollIntoView({
                    block: 'end',
                    behavior: 'smooth',
                    inline: 'center'
                });
            }
        }, 500);
</script>