---
const { imagen1, imagen2, imagen3, imagen4, imagen5 } = Astro.props;
---

<div
  class="relative h-1/2 w-full md:h-full md:w-1/3 shadow-xl shadow-black/40 rounded-xl"
>
  <ul
    class="h-full w-full flex items-center justify-center bg-gradient-to-b from-logoAzul to-logoVerde rounded-xl"
    id="slider"
  >
    <li class="h-full w-full">
      <div class="h-1/2 p-5 overflow-hidden">
        <img class="w-full h-auto object-cover rounded-xl" src="../images/404.jpg" alt="" />
      </div>
      <div class="h-1/2 rounded-b-xl bg-Azul w-full flex items-center justify-center text-white font-semibold text-3xl">hola</div>
    </li>
    <li class="h-full w-full hidden">
        <div class="h-1/2 p-5 overflow-hidden">
          <img class="w-full h-auto object-cover rounded-xl" src="../images/404.jpg" alt="" />
        </div>
        <div class="h-1/2 rounded-b-xl bg-Azul w-full flex items-center justify-center text-white font-semibold text-3xl">bola</div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-1/2 p-5 overflow-hidden">
          <img class="w-full h-auto object-cover rounded-xl" src="../images/404.jpg" alt="" />
        </div>
        <div class="h-1/2 rounded-b-xl bg-Azul w-full flex items-center justify-center text-white font-semibold text-3xl">cola</div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-1/2 p-5 overflow-hidden">
          <img class="w-full h-auto object-cover rounded-xl" src="../images/404.jpg" alt="" />
        </div>
        <div class="h-1/2 rounded-b-xl bg-Azul w-full flex items-center justify-center text-white font-semibold text-3xl">lola</div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-1/2 p-5 overflow-hidden">
          <img class="w-full h-auto object-cover rounded-xl" src="../images/404.jpg" alt="" />
        </div>
        <div class="h-1/2 rounded-b-xl bg-Azul w-full flex items-center justify-center text-white font-semibold text-3xl">rola</div>
      </li>
  </ul>
</div>

<script>
  var currentSlideID = 0;
  var sliderElement = document.getElementById("slider");
  var totalSlides = sliderElement.childElementCount;

  setInterval(next, 3000);

  function next() {
    currentSlideID = (currentSlideID + 1) % totalSlides;
    showSlide();
  }

  function showSlide() {
    const slides = document.getElementById("slider").getElementsByTagName("li");
    for (let i = 0; i < totalSlides; i++) {
      const element = slides[i];
      if (currentSlideID === i) {
        element.classList.remove("hidden");
      } else {
        element.classList.add("hidden");
      }
    }
  }
</script>