<div
  class="relative h-80 w-full md:h-full md:w-1/3 shadow-xl shadow-black/40 rounded-xl"
>
  <ul
    class="h-full w-full flex items-center justify-center bg-gradient-to-b from-logoAzul to-logoVerde rounded-xl"
    id="slider"
  >
    <li class="h-full w-full">
      <div class="h-2/3 overflow-hidden">
        <img class="w-full object-cover rounded-t-xl h-full" src="../images/nina.jpg" alt="" />
      </div>
      <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
      <h1>Mayores aportadores</h1>
      <img src="../images/like.gif" alt="" class="h-3/4">
      </div>
    </li>
    <li class="h-full w-full hidden">
      <div class="h-2/3 overflow-hidden">
        <img class="w-full object-cover rounded-t-xl h-full" src="../images/simsa.jpg" alt="" />
      </div>
      <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
      <h1>Mayores aportadores</h1>
      <img src="../images/like.gif" alt="" class="h-3/4">
      </div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-2/3 overflow-hidden">
          <img class="w-full object-cover rounded-t-xl h-full" src="../images/lala.jpg" alt="" />
        </div>
        <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
        <h1>Mayores aportadores</h1>
        <img src="../images/like.gif" alt="" class="h-3/4">
        </div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-2/3 overflow-hidden">
          <img class="w-full object-cover rounded-t-xl h-full" src="../images/toyota.jpg" alt="" />
        </div>
        <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
        <h1>Mayores aportadores</h1>
        <img src="../images/like.gif" alt="" class="h-3/4">
        </div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-2/3 overflow-hidden">
          <img class="w-full object-cover rounded-t-xl h-full" src="../images/cat.jpg" alt="" />
        </div>
        <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
        <h1>Mayores aportadores</h1>
        <img src="../images/like.gif" alt="" class="h-3/4">
        </div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-2/3 overflow-hidden">
          <img class="w-full object-cover rounded-t-xl h-full" src="../images/cicr.jpg" alt="" />
        </div>
        <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
        <h1>Mayores aportadores</h1>
        <img src="../images/like.gif" alt="" class="h-3/4">
        </div>
      </li>
      <li class="h-full w-full hidden">
        <div class="h-2/3 overflow-hidden">
          <img class="w-full object-cover rounded-t-xl h-full" src="../images/ONU.jpg" alt="" />
        </div>
        <div class="h-1/3 rounded-b-xl bg-Azul w-full gap-5 flex items-center justify-center text-white font-semibold text-3xl">
        <h1>Mayores aportadores</h1>
        <img src="../images/like.gif" alt="" class="h-3/4">
        </div>
      </li>
  </ul>
</div>

<script>
  var currentSlideID = 0;
  var sliderElement = document.getElementById("slider");
  var totalSlides = sliderElement.childElementCount;

  setInterval(next, 3000);

  function next() {
    currentSlideID = (currentSlideID + 1) % totalSlides;
    showSlide();
  }

  function showSlide() {
    const slides = document.getElementById("slider").getElementsByTagName("li");
    for (let i = 0; i < totalSlides; i++) {
      const element = slides[i];
      if (currentSlideID === i) {
        element.classList.remove("hidden");
      } else {
        element.classList.add("hidden");
      }
    }
  }
</script>