<section class="w-full h-fit px-5 md:px-20 gap-5 flex flex-col md:flex-row mb-5">
    <div class="h-[50vh] md:h-[70vh] w-full md:w-1/3 rounded-lg shadow-lg overflow-hidden flex flex-col items-center justify-center">
        <img src="https://placekitten.com/400/300" alt="" class="w-full h-1/2 ">
        <div class="h-1/2 w-full flex flex-col items-center justify-center px-5">
            <h1 class="font-semibold text-lg">Ayuda a comunidades vulnerables</h1>
            <p class="text-sm">Brindamos apoyo a comunidades en situacion de vulnerabilidad mediante acciones y programas</p>
            <a href="" class="w-1/2 h-fit bg-Azul hover:bg-AzulF text-center py-2 rounded-lg text-white mt-5">Mas informacion</a>
        </div>
    </div>
    <div class="h-[50vh] md:h-[70vh] w-full md:w-1/3 rounded-lg shadow-lg overflow-hidden flex flex-col items-center justify-center">
        <img src="https://placekitten.com/400/300" alt="" class="w-full h-1/2 ">
        <div class="h-1/2 w-full flex flex-col items-center justify-center px-5">
            <h1 class="font-semibold text-lg">Educacion y capacitacion</h1>
            <p class="text-sm">Ofrecemos programas educativos y de capacitacion para el crecimiento personal y profesional</p>
            <a href="" class="w-1/2 h-fit bg-Azul hover:bg-AzulF text-center py-2 rounded-lg text-white mt-5">Mas informacion</a>
        </div>
    </div>
    <div class="h-[50vh] md:h-[70vh] w-full md:w-1/3 rounded-lg shadow-lg overflow-hidden flex flex-col items-center justify-center">
        <img src="https://placekitten.com/400/300" alt="" class="w-full h-1/2 ">
        <div class="h-1/2 w-full flex flex-col items-center justify-center px-5">
            <h1 class="font-semibold text-lg">Promocion de la cultura general</h1>
            <p class="text-sm">Impulsamos proyectos para preservar y difundir la cultura tradicional de nuestra region</p>
            <a href="" class="w-1/2 h-fit bg-Azul hover:bg-AzulF text-center py-2 rounded-lg text-white mt-5">Mas informacion</a>
        </div>
    </div>
</section>