<section
  class="relative bg-[url(../images/Fondo.jpg)] bg-cover bg-center bg-no-repeat md:h-[90vh] bg-Fondo"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
    class="relative mx-auto px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-end lg:justify-end md:px-20"
  >
    <div class="max-w-xl text-start ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Ayuda a los migrantes

        <strong class="block font-extrabold text-amber-600">
          haciendo la diferencia
        </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed md:text-white text-black">
        Únete a nosotros para brindar asistencia y recursos a los migrantes en Torréon Coahuila
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="www.paypal.com"
          target="_blank"
          class="block w-full rounded bg-Azul hover:bg-AzulF px-12 py-3 text-sm font-medium text-white shadow bg- focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Donar
        </a>
      </div>
    </div>
  </div>
</section>
