<section class="w-full h-fit px-5 md:px-20 gap-5 flex flex-col md:flex-row mb-5 bg-Fondo">
    <div class="h-[50vh] md:h-[70vh] w-full md:w-1/3 rounded-lg shadow-lg overflow-hidden flex flex-col items-center justify-center bg-white">
        <img src="../images/apoyo.jpg" alt="" class="w-full h-1/2 ">
        <div class="h-1/2 w-full flex flex-col items-center justify-center px-5" id="comunidades">
            <h1 class="font-semibold text-lg">Apoyo que proporcionamos</h1>
            <p class="text-sm">Brindamos apoyo a comunidades en situacion de vulnerabilidad mediante acciones y programas</p>
            <a href="/servicios#/comunidades" class="w-1/2 h-fit bg-Azul hover:bg-AzulF text-center py-2 rounded-lg text-white mt-5">Mas informacion</a>
        </div>
    </div>
    <div class="h-[50vh] md:h-[70vh] w-full md:w-1/3 rounded-lg shadow-lg overflow-hidden flex flex-col items-center justify-center bg-white">
        <img src="../images/unete.jpg" alt="" class="w-full h-1/2 ">
        <div class="h-1/2 w-full flex flex-col items-center justify-center px-5">
            <h1 class="font-semibold text-lg">Voluntarios</h1>
            <p class="text-sm">Brindamos apoyo a los migrantes da click para leer mas de nuestro labor.</p>
            <a href="/servicios#/educacion" class="w-1/2 h-fit bg-Azul hover:bg-AzulF text-center py-2 rounded-lg text-white mt-5" id="educacion">Mas informacion</a>
        </div>
    </div>
    <div class="h-[50vh] md:h-[70vh] w-full md:w-1/3 rounded-lg shadow-lg overflow-hidden flex flex-col items-center justify-center bg-white">
        <img src="../images/comedor.jpg" alt="" class="w-full h-1/2 ">
        <div class="h-1/2 w-full flex flex-col items-center justify-center px-5">
            <h1 class="font-semibold text-lg">Nuetras instalaciones</h1>
            <p class="text-sm">Explora las instalaciones de nuestra Casa de Migrantes a través de imágenes.</p>
            <a href="/servicios#/promocion" class="w-1/2 h-fit bg-Azul hover:bg-AzulF text-center py-2 rounded-lg text-white mt-5" id="promocion">Mas informacion</a>
        </div>
    </div>
</section>

